*{
	margin:0 ;
	padding: 0;
}
.header
{
	height: 100vh;
}
.body{
	font-family: monospace;
	outline: none;
	background-image: url('https://cdn.pixabay.com/photo/2021/09/19/19/04/blood-6638804_960_720.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.navbar-header a {
  position: relative;
  display: inline-block;
  font-size: 3em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, red, red 50%, lightgray 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 300ms ease;
  text-decoration: none; 
}
.navbar-header a:hover {
    background-position: 0 100%;
  }
#micon .navbar-nav li a
{
	color: darkgreen;
	font-size: 12px;
}

#micon #droper{
	transition: all o.2s ease-in-out  ;
}

#micon #dropers:hover{
	background-color: darkcyan;
}
.dropdown-menu{
	display: none;
	position: absolute;
	background-color: lightgreen;
	box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-menu{
	display: block;
	transition: all o.3s ease-in-out;

}
.dropdown:hover .dropdown-menu a:hover{
	background-color: lightcoral;

}

.navbar-style
{
	box-shadow: 0 2px 5px 	#efefef;
	text-transform: uppercase;
}



.logo
{ 
	height: 48px;
	padding: 2px 10px;
}

.logo:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.icon-bar{
	background: darkcyan;
}
#req{
	align-items: center;
	margin-left: 40px;
	
	padding: 10px;
	box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	scroll-behavior: none;
	padding: 20px;


}
#req input{
	padding: 10px;
	border: none;
	margin-bottom:20px;

}
#req h1{
	color: rgb(255, 127, 127);
	text-transform: uppercase;
	font-size: 3em;


}